# Copyright (c) 2020 Pete Johanson, Kurtis Lew
# SPDX-License-Identifier: MIT

if SHIELD_DACTYL_TYPESAFE_LEFT

endif

if SHIELD_DACTYL_TYPESAFE_RIGHT

config ZMK_USB_LOGGING
	default y

config ZMK_KEYBOARD_NAME
	default "DactylTypesafe"

config ZMK_SPLIT_BLE_ROLE_CENTRAL
	default y

config SPI
	default y

config SPI_1
	default y

config ZMK_MOUSE
	default y

config PMW33XX
	default y

endif

if SHIELD_DACTYL_TYPESAFE_LEFT || SHIELD_DACTYL_TYPESAFE_RIGHT

config ZMK_SPLIT
	default y

endif